<h1>
  Falta pouco para você se candidatar as melhores vagas do mercado!
  Lembre-se, você deve preencher todos os campos :)
</h1>

<%= render partial: 'form', locals: {profile: @profile} %>

<% link_to 'Ir para vagas!', jobs_path %>